@use './reset';
@use './variables' as variables;

.header {
    @include variables.container(space-between);
    padding: 25px;
    width: 1490px;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;

    &__title {
        @include variables.text(20px);
    }

    &__badge {
        @include variables.font(12px, 600);
        background-color: #242529;
        color: #ffffff7a;
        height: 22px;
        line-height: 1;
        padding: 7px;
        border-radius: 15px;
    }
}

.navigation {
    @include variables.container-gap(15px);
}

.navigation__item {
    border-radius: 30%;
}

.header__button {
    @include variables.button(10px, 10px 14px 10px 14px);
    @include variables.font(15px, 600);
    background: #3898ff;
    cursor: pointer;
    transition: 0.5s transform;

    &:hover {
        transform: scale(1.05);
    }

}

.hero {
    background-color: hsla(0, 0%, 0%, 1);
    background-image: radial-gradient(circle at 50% 46%, hsla(236.6470426671645, 90%, 28%, 1) 0%, transparent 38.41513019140126%), radial-gradient(circle at 93% 95%, hsla(0, 0%, 0%, 1) 0%, transparent 66%), radial-gradient(circle at 89% 8%, hsla(307, 0%, 0%, 1) 0%, transparent 150%);
    background-blend-mode: normal, normal, normal;
    padding: 170px;
    padding-bottom: 100px;
}

.hero-container {
    @include variables.container-grid(normal, 10px);
    justify-items: center;
    line-height: 1;

    &__title {
        @include variables.text(40px, #677aff);
        font-weight: 800;
    }

    &__second-title {
        @include variables.text(50px);
        font-weight: 800;
        letter-spacing: -0.65px;
    }

    &__text {
        @include variables.text(30px);
    }

    &__button {
        @include variables.button(30px, 15px 25px 15px 25px, #ffffffd9);
        @include variables.font(15px, 800);
        background-image: linear-gradient(to right, #3898ff, #7a70ff);
        text-decoration: none;
        margin-top: 20px;
        cursor: pointer;
        transition: 0.5s transform;

        &:hover {
            transform: scale(1.05);
        }
    }

}

.code-container {
    @include variables.container(space-evenly);
    height: 44px;
    line-height: 1;
    background: #242529;
    width: 35%;
    border-radius: 30px;
    margin-top: 30px;

    &__text {
        @include variables.text(15px);
    }

    &__button {
        background-color: transparent;
        color: #ffffff59;
        border: none;
        cursor: pointer;
    }
}

.picture-container {
    position: relative;
    top: 70px;

    &__first-img {
        position: absolute;
        z-index: 1;
    }

    &__second-img {
        position: relative;
        z-index: 2;
        margin-left: 510px;
    }

    &__third-img {
        position: relative;
        z-index: 3;
        bottom: 30px;
        margin-left: -150px;
    }
}

.team-container {
    margin-top: 70px;
    justify-items: center;

    &__text {
        @include variables.text(24px);
        width: 60%;
        text-align: center;
    }
}

.bento {
    @include variables.container-grid(start, 30px);
    margin: 40px auto;
    max-width: 940px;
    grid-template-columns: repeat(6, 1fr);

    &__item {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        color: #ffffffc8;
        font-size: 18px;
        text-decoration: none;
        justify-items: center;

        img {
            border-radius: 50px;
            width: 50px;
            height: 50px;
        }
    }

    $distributions: (
        1: 1 / 2,
        2: 2 / 4,
        3: 4 / 6,
        4: 6 / 8,
        5: 8 / 10,
        6: 10 / 12,
        7: 1 / 2,
        8: 2 / 4,
        9: 4 / 6,
        10: 6 / 8,
        11: 8 / 10,
        12: 10 / 12,
        13: 1 / 2,
        14: 2 / 4,
        15: 4 / 6,
        16: 6 / 8,
        17: 8 / 10,
        18: 10 / 12,
        19: 1 / 2,
        20: 2 / 4,
        21: 4 / 6,
        22: 6 / 8,
        23: 8 / 10,
        24: 10 / 12,
    );

@each $key, $value in $distributions {
    & :nth-child(#{$key}) {
        grid-column: $value;
    }
}
}

.kit-container {
    padding: 150px;
    --c-0: hsla(230.02939560834102, 62%, 46%, 1);
    --x-0: 63%;
    --y-0: 44%;
    --c-1: hsla(333, 53%, 100%, 1);
    --x-1: 112%;
    --y-1: 108%;
    ;
    background-color: hsla(259.14704266716444, 85%, 53%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal;
}

@keyframes hero-gradient-animation {
    0% {
        --c-0: hsla(230.02939560834102, 62%, 46%, 1);
        --x-0: 63%;
        --y-0: 44%;
        --s-start-0: 10%;
        --s-end-0: 51%;
        --c-1: hsla(333, 53%, 100%, 1);
        --x-1: 112%;
        --y-1: 108%;
        --s-start-1: 4.721435316336166%;
        --s-end-1: 17.44337251571353%;
    }

    100% {
        --c-0: hsla(245.91174854951743, 48%, 52%, 1);
        --x-0: 82%;
        --y-0: 72%;
        --s-start-0: 10%;
        --s-end-0: 51%;
        --c-1: hsla(212.3684210526316, 72%, 58%, 1);
        --x-1: 67%;
        --y-1: 52%;
        --s-start-1: 10%;
        --s-end-1: 51%;
    }
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(230.02939560834102, 62%, 46%, 1)
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 63%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 44%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 10%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 51%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(333, 53%, 100%, 1)
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 112%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 108%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 4.721435316336166%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 17.44337251571353%
}

.information-container {
    text-align: center;
    gap: 10px;
    line-height: 1;
    padding-inline: 250px;
    margin-bottom: 70px;

    &__title {
        @include variables.text(50px);
        font-weight: 800;
        margin-bottom: 40px;
    }

    &__text {
        @include variables.text(25px);
        font-weight: 700;
        letter-spacing: -0.65px;
    }
}

.modal {
    justify-items: center;
}

.modal-content {
    display: flex;
    padding: 20px 20px 0 20px;
    width: 712px;
    height: 470px;
    background-color: variables.$white;
    border-radius: 15px;
    box-shadow: 0 4px 14px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-nav {
    min-width: 245px;
    overflow-y: scroll;

    h3 {
        @include variables.font(20px, 800);
    }
}

.menu {
    list-style: none;
    padding-bottom: 20px;

    h5 {
        margin-top: 20px;
        color: #7a7272;
        font-size: 14px;
    }

    i {
        height: 30px;
        border: 1px solid #c2bcbc52;
        border-radius: 8px;
    }

    svg {
        border-radius: 8px;
    }
}

.sub-menu {
    list-style: none;

    &__item {
        @include variables.container-gap(10px);
        margin-top: 10px;
    }
}

.modal-information {
    padding-left: 20px;

    header {
        text-align: right;
    }

    &__button {
        @include variables.button(50%, 8px 10px 5px 10px, #242529);
        border: none;
        cursor: pointer;
        transition: 0.5s transform;

        &:hover {
            transform: scale(1.05);
        }
    }

    main {
        justify-items: center;
        margin-top: 20px;
    }

    .banner-container {
        justify-items: center;
        margin-top: 25px;

        &__banner {
            @include variables.container-gap(10px);
            width: 70%;

            h5 {
                font-size: 15px;
            }

            p {
                color: #7a7272;
                font-size: 14px;
            }
        }
    }

    footer {
        @include variables.container-grid(space-evenly, 10px);
        margin-top: 20px;

        button {
            @include variables.button(30px, 8px 20px 8px 20px);
            background-color: #0e76fd;
            border: none;
            font-weight: 600;
        }

        span {
            text-align: center;
            color: #3c99fa;
            font-weight: 600;
        }
    }
}

.options {
    margin-top: 50px;

    ul {
        list-style: none;
        display: flex;
        gap: 50px;
    }

    &__text {
        @include variables.text(22px, #4082ff);
        font-weight: 800;
    }

    &__button {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .12);
        background: #ffffff52;
        margin-right: 10px;
        cursor: pointer;
        transition: 0.5s transform;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__button-text {
        @include variables.text(15px);
        font-weight: 700;
    }

    #blue {
        background-color: variables.$blue;
    }

    #dark-blue {
        background-color: variables.$dark-blue;
    }

    #pink {
        background-color: variables.$pink;
    }

    #red {
        background-color: variables.$red;
    }

    #orange {
        background-color: variables.$orange;
    }

    #green {
        background-color: variables.$green;
    }

    #white {
        background-color: variables.$white;
    }

    #gray {
        background-color: variables.$dark-gray;
    }

    #black {
        background-color: variables.$black;
    }
}

.workers-container {
    background-color: #1b1c1e;
    text-align: center;
    padding-bottom: 120px;

    button {
        @include variables.button(30px, 15px 25px 15px 25px);
        @include variables.font(15px, 600);
        background-color: #3b84e4;
        border: none;
        cursor: pointer;
        transition: 0.5s transform;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.developers-container {
    text-align: center;
    gap: 10px;
    line-height: 1;
    padding: 120px 120px 80px 120px;
    justify-items: center;

    &__title {
        @include variables.text(50px);
        font-weight: 800;
        margin-bottom: 40px;
    }

    &__text {
        @include variables.text(25px);
        font-weight: 700;
        letter-spacing: -0.65px;
        width: 58%;
    }
}

.list-container {
    display: flex;
    padding: 0px 390px 100px 390px;
}

.list {
    padding-inline: 50px;
    color: variables.$white;
    list-style: none;

    li {
        display: flex;
        gap: 10px;
    }
}

.company-container {
    text-align: center;
    padding-bottom: 120px;
}

.about-container {
    text-align: center;
    gap: 10px;
    line-height: 1;
    padding: 120px 120px 80px 120px;
    justify-items: center;

    &__content {
        display: flex;
        gap: 15px;

        svg {
            border-radius: 10px;
        }
    }

    &__title {
        @include variables.text(55px, variables.$black);
        font-weight: 800;
        margin-bottom: 40px;
    }

    &__text {
        @include variables.text(25px, variables.$black);
        font-weight: 700;
        letter-spacing: -0.65px;
        width: 58%;
    }
}

.follow-button {
    @include variables.button(30px, 12px 25px 12px 25px);
    @include variables.font(15px, 600);
    border: none;
    background-image: linear-gradient(270deg, #1da1f2, #1d7df2);
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s transform;

    &:hover {
        transform: scale(1.05);
    }
}

.share-button {
    @include variables.button(30px, 12px 25px 12px 25px);
    @include variables.font(15px, 600);
    border: none;
    background-image: linear-gradient(270deg, #ff6257, #ff5ca0);
    cursor: pointer;
    transition: 0.5s transform;

    &:hover {
        transform: scale(1.05);
    }
}

.footer-links {
    text-align: center;
    padding-bottom: 120px;
    list-style: none;
    line-height: 2;

    a {
        text-decoration: none;
        @include variables.font(22px, 700);
        color: #1b1d1fb3;
        cursor: pointer;
    }

    :hover {
        color: #5f5afa;
    }

    &__text {
        @include variables.text(22px, #1b1d1f80);
        font-weight: 700;
        pointer-events: none;
    }
}